master-feeds.json
{
  "name": "Forage Graph \u2014 Master Intelligence Feeds",
  "nodes": [
    {
      "id": "7ec42da2-9528-4596-9c52-ea4769a04523",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "f5eded62-ab6d-43f7-a674-f1acb2cc9231",
      "name": "RSS 1: BBC World News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "c484749f-4fe8-408a-a09e-c4bcdade607f",
      "name": "Tag 1: BBC World News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BBC World\";\nconst cat=\"world_news\";\nconst cw=0.4;\nconst mech=\"news_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "49b2b813-a145-4f89-afd4-4f6f75f333f8",
      "name": "RSS 2: Reuters Top News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.reuters.com/reuters/topNews",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "fe3c67dd-d6a3-485d-83e6-7482b3899c55",
      "name": "Tag 2: Reuters Top News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Reuters\";\nconst cat=\"world_news\";\nconst cw=0.5;\nconst mech=\"news_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "f025561e-3618-407e-b626-1a24eacea466",
      "name": "RSS 3: The Guardian World",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.theguardian.com/world/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b144ca45-be97-4717-aa5c-05a781f063c2",
      "name": "Tag 3: The Guardian World",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Guardian\";\nconst cat=\"world_news\";\nconst cw=0.4;\nconst mech=\"news_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "b0901bf1-71e4-4470-b699-660bd8158535",
      "name": "RSS 4: Sky News World",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.skynews.com/feeds/rss/world.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "c22e4278-623f-498c-820f-7720bb4fa092",
      "name": "Tag 4: Sky News World",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Sky News\";\nconst cat=\"world_news\";\nconst cw=0.3;\nconst mech=\"news_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "50faa86c-1de0-4121-a0ad-94ce9048dff6",
      "name": "RSS 5: Foreign Policy",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://foreignpolicy.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "18a18695-6564-47ae-9343-484626002194",
      "name": "Tag 5: Foreign Policy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Foreign Policy\";\nconst cat=\"geopolitics\";\nconst cw=0.6;\nconst mech=\"geopolitical_analysis\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "d9205114-7446-4671-908a-123530747e77",
      "name": "RSS 6: Foreign Affairs",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.foreignaffairs.com/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "483c8790-8006-4470-bddb-b0c5c787c95a",
      "name": "Tag 6: Foreign Affairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        140
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Foreign Affairs\";\nconst cat=\"geopolitics\";\nconst cw=0.7;\nconst mech=\"geopolitical_analysis\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "67aba116-1044-4430-996d-180f4eabf451",
      "name": "RSS 7: TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "53247eaf-c3ec-4b4c-a824-db74ee1fe3f4",
      "name": "Tag 7: TechCrunch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"TechCrunch\";\nconst cat=\"technology\";\nconst cw=0.4;\nconst mech=\"tech_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "b8d13a17-da35-4423-b842-26019bde0fba",
      "name": "RSS 8: TechCrunch Startups",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://techcrunch.com/category/startups/feed",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "d15e387a-5d56-4812-8a00-9abde36030ec",
      "name": "Tag 8: TechCrunch Startups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"TechCrunch Startups\";\nconst cat=\"startups\";\nconst cw=0.5;\nconst mech=\"startup_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "7f584f73-c614-4e79-9c2c-d5f3f9963511",
      "name": "RSS 9: TechCrunch Funding",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://techcrunch.com/tag/funding/feed",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "998c2382-530d-4b9a-9c0d-be8d3b6785ac",
      "name": "Tag 9: TechCrunch Funding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"TechCrunch Funding\";\nconst cat=\"venture_capital\";\nconst cw=0.7;\nconst mech=\"funding_event\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "b913942e-8ec0-4b93-8aad-6a0996cdd5c6",
      "name": "RSS 10: Wired",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.wired.com/feed/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "3daf7f5e-a625-410d-a96d-8797100598d3",
      "name": "Tag 10: Wired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Wired\";\nconst cat=\"technology\";\nconst cw=0.3;\nconst mech=\"tech_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "77a3631d-f61f-44dc-b091-615c04b6d53b",
      "name": "RSS 11: Ars Technica",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/index",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "ef681491-01db-497e-b3ed-2dbceeb3fdaa",
      "name": "Tag 11: Ars Technica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Ars Technica\";\nconst cat=\"technology\";\nconst cw=0.3;\nconst mech=\"tech_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "de1773fc-6153-40e1-9600-cbf37604728f",
      "name": "RSS 12: MIT Tech Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b2d11539-daff-484e-9519-ee8322793928",
      "name": "Tag 12: MIT Tech Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"MIT Tech Review\";\nconst cat=\"ai\";\nconst cw=0.5;\nconst mech=\"research_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "9737b852-3be2-4690-9811-919100044270",
      "name": "RSS 13: VentureBeat",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://venturebeat.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "472b98cf-9045-481e-a311-51f8d3d3171d",
      "name": "Tag 13: VentureBeat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"VentureBeat\";\nconst cat=\"ai\";\nconst cw=0.4;\nconst mech=\"tech_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "117bd326-16d9-4c3a-a745-475881541d55",
      "name": "RSS 14: The Verge",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "6a5b0574-87ad-4602-bbcc-ec64eede862b",
      "name": "Tag 14: The Verge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"The Verge\";\nconst cat=\"technology\";\nconst cw=0.3;\nconst mech=\"tech_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "03a15df6-6a5a-4633-a217-a189f4abcc5c",
      "name": "RSS 15: Fortune",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://fortune.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "55e552c7-86c2-4768-b2c8-4f8500b2071c",
      "name": "Tag 15: Fortune",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        560
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Fortune\";\nconst cat=\"business\";\nconst cw=0.4;\nconst mech=\"business_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "7fd8f66c-c4d9-4b2b-a1c0-d6bb66222df8",
      "name": "RSS 16: Economist Finance",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.economist.com/finance-and-economics/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "23bb718e-3061-47e0-9142-930a2dc02f09",
      "name": "Tag 16: Economist Finance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Economist Finance\";\nconst cat=\"economics\";\nconst cw=0.6;\nconst mech=\"macro_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "a41b4dce-26f7-4a6d-9e9e-feebbd3cec79",
      "name": "RSS 17: The Economist",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.economist.com/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "97b66394-200d-4380-a6de-66aa34c8ccd3",
      "name": "Tag 17: The Economist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"The Economist\";\nconst cat=\"economics\";\nconst cw=0.6;\nconst mech=\"macro_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "0b2a2fa2-f681-43fc-9126-42b0989c1c37",
      "name": "RSS 18: Inc Magazine",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.inc.com/magazine/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "e9881b9a-fa8a-4c99-aa6f-aac521d305bd",
      "name": "Tag 18: Inc Magazine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Inc Magazine\";\nconst cat=\"business\";\nconst cw=0.3;\nconst mech=\"business_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "fc460f49-8929-432f-9ffc-197c4e2ddd78",
      "name": "RSS 19: Forbes Business",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.forbes.com/business/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f3491286-411d-4f20-9645-31c5c59cbba3",
      "name": "Tag 19: Forbes Business",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Forbes Business\";\nconst cat=\"business\";\nconst cw=0.4;\nconst mech=\"business_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "7da9422b-a408-4be5-8a8d-f3baa4c4f506",
      "name": "RSS 20: Business Insider Tech",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.businessinsider.com/tech",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "43ba1e75-1d09-4e18-8c64-69f3d5cf1457",
      "name": "Tag 20: Business Insider Tech",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Business Insider\";\nconst cat=\"business\";\nconst cw=0.3;\nconst mech=\"business_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "99a2ec2a-44fb-4b6f-9663-1d625aafaec9",
      "name": "RSS 21: BLS Price Indicators",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.bls.gov/feeds/news.release.pfi.htm",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "7eca026a-ae0d-49e1-b880-e0e12fb41dc5",
      "name": "Tag 21: BLS Price Indicators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        840
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BLS Indicators\";\nconst cat=\"economics\";\nconst cw=0.7;\nconst mech=\"macro_indicator\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "5d003551-e963-441a-b1ab-76419b970986",
      "name": "RSS 22: BLS JOLTS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.bls.gov/feeds/news.release.jolts.htm",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "2f6e5e6d-fd83-471d-8501-5854068bd53c",
      "name": "Tag 22: BLS JOLTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BLS JOLTS\";\nconst cat=\"hiring\";\nconst cw=0.6;\nconst mech=\"labour_market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "bb67e5ea-d015-4f8c-8617-cd6d4dc4f084",
      "name": "RSS 23: BLS CPI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.bls.gov/feeds/news.release.cpi.htm",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "256010e3-c7fd-449f-9c52-23c183cf5d86",
      "name": "Tag 23: BLS CPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"BLS CPI\";\nconst cat=\"consumer\";\nconst cw=0.8;\nconst mech=\"inflation_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "3af4dde6-5d31-485d-bd99-f8d4a0d79a6e",
      "name": "RSS 24: Federal Reserve",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.federalreserve.gov/feeds/press_monetary.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "c243f8b4-2f14-4d76-a50e-e35109cf6de5",
      "name": "Tag 24: Federal Reserve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        980
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Federal Reserve\";\nconst cat=\"economics\";\nconst cw=0.9;\nconst mech=\"monetary_policy\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "a64713db-7457-42e7-ade9-a1e46959feee",
      "name": "RSS 25: ECB",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.ecb.europa.eu/rss/press.html",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "d42f3e6f-99f6-4f95-beeb-5d649f7c108f",
      "name": "Tag 25: ECB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"ECB\";\nconst cat=\"economics\";\nconst cw=0.9;\nconst mech=\"monetary_policy\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "f8653883-1946-43a6-be5f-07a61bdb502b",
      "name": "RSS 26: Marginal Revolution",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://feeds.feedburner.com/marginalrevolution",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "bedccd5f-a0bd-421d-ade7-96f75f38c654",
      "name": "Tag 26: Marginal Revolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Marginal Revolution\";\nconst cat=\"economics\";\nconst cw=0.4;\nconst mech=\"macro_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "8e1379c9-3be7-4a79-8b33-154bcf8bb4d8",
      "name": "RSS 27: Project Syndicate",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.project-syndicate.org/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "30b15e2d-09f1-43d0-91d4-4e48349ff826",
      "name": "Tag 27: Project Syndicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Project Syndicate\";\nconst cat=\"economics\";\nconst cw=0.5;\nconst mech=\"macro_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "b3d8960b-c11b-447a-938e-451936babe69",
      "name": "RSS 28: Federal Register",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.federalregister.gov/documents/search.rss?conditions[published_on]=today",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "12de4efb-2585-433b-b46a-b58c0e4d5129",
      "name": "Tag 28: Federal Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Federal Register\";\nconst cat=\"regulation\";\nconst cw=0.7;\nconst mech=\"regulatory_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "14c6be3e-211c-4cdf-bc78-876f1f189f46",
      "name": "RSS 29: UK Legislation",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.legislation.gov.uk/ukpga/data.feed",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "e618dfb3-a8d8-474e-b573-97da9e1f762d",
      "name": "Tag 29: UK Legislation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"UK Legislation\";\nconst cat=\"law\";\nconst cw=0.7;\nconst mech=\"regulatory_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "f3825a97-2be8-4fb8-9621-ebebb97a057a",
      "name": "RSS 30: EUR-Lex",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://eur-lex.europa.eu/rss/en/oj_latest-l.rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "5a9684f6-e105-4035-b760-f19af91f4f4d",
      "name": "Tag 30: EUR-Lex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1260
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"EUR-Lex\";\nconst cat=\"regulation\";\nconst cw=0.7;\nconst mech=\"regulatory_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "a26c4532-6c65-44ea-b1d9-9ff7dd46a877",
      "name": "RSS 31: DataBreaches.net",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.databreaches.net/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "98e3f134-d49a-418e-aaf6-d98a855c24f3",
      "name": "Tag 31: DataBreaches.net",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"DataBreaches.net\";\nconst cat=\"cybersecurity\";\nconst cw=0.6;\nconst mech=\"cyber_threat\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "2ff0f2a5-a31d-4c51-9c7b-30ecdf6c336f",
      "name": "RSS 32: UpGuard Breaches",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.upguard.com/breaches/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "3e6c748b-b5da-49cd-84c8-315b51b7affd",
      "name": "Tag 32: UpGuard Breaches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"UpGuard\";\nconst cat=\"cybersecurity\";\nconst cw=0.6;\nconst mech=\"cyber_threat\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "8d59d3e2-2a56-4c1a-be02-8173efadf550",
      "name": "RSS 33: Cooley M&A",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://cooleyma.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "d5a88621-6e69-46ed-ab68-f920f2bc5e1b",
      "name": "Tag 33: Cooley M&A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Cooley M&A\";\nconst cat=\"mergers_acquisitions\";\nconst cw=0.8;\nconst mech=\"ma_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "75a081f8-9127-4862-9efd-641019fb3af7",
      "name": "RSS 34: DealRoom",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://dealroom.net/blog/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "00c1bdd1-4b61-44ae-a84e-09c08fb30ac1",
      "name": "Tag 34: DealRoom",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"DealRoom\";\nconst cat=\"mergers_acquisitions\";\nconst cw=0.8;\nconst mech=\"ma_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "c459bf40-be84-412d-b16f-43dcdffd0078",
      "name": "RSS 35: arXiv CS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/cs",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "9de9684d-1fc5-44d7-80f6-524306a9eee3",
      "name": "Tag 35: arXiv CS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv CS\";\nconst cat=\"research\";\nconst cw=0.4;\nconst mech=\"research_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "8737afb2-c139-4f7b-8a62-26c1616ffc94",
      "name": "RSS 36: arXiv Economics",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/econ",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "9a3f7f9f-e32a-4c93-9097-f8885474b450",
      "name": "Tag 36: arXiv Economics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1540
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv Economics\";\nconst cat=\"research\";\nconst cw=0.4;\nconst mech=\"research_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "f3205498-1661-497a-a23f-aad4e8dba955",
      "name": "RSS 37: arXiv ML",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/stat.ML",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "4d434150-dcf9-4216-8475-17d8e2c27ba2",
      "name": "Tag 37: arXiv ML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv ML\";\nconst cat=\"ai\";\nconst cw=0.5;\nconst mech=\"research_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "8cd11027-ac54-4870-b4e0-61fb0d981b60",
      "name": "RSS 38: arXiv Biology",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://export.arxiv.org/rss/q-bio",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "c93969a8-b372-4523-87e5-eed5e8d75bc3",
      "name": "Tag 38: arXiv Biology",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"arXiv Biology\";\nconst cat=\"biotech\";\nconst cw=0.4;\nconst mech=\"research_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "32dc78d1-d1ab-4732-ad4d-7b809d91d3c7",
      "name": "RSS 39: HubSpot Marketing",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.hubspot.com/marketing/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "fcd5af32-20bb-4965-88e2-c6686930ccda",
      "name": "Tag 39: HubSpot Marketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1680
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"HubSpot Marketing\";\nconst cat=\"marketing\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "2d1e0624-bf94-48e7-818f-96138d54c0e0",
      "name": "RSS 40: HubSpot Sales",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.hubspot.com/sales/rss.xml",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "77798b1c-c767-49b1-b50c-876a82d72183",
      "name": "Tag 40: HubSpot Sales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"HubSpot Sales\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "7a3bbf41-42df-4a13-b47e-2080290d48b0",
      "name": "RSS 41: Neil Patel",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://neilpatel.com/blog/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "e52c1a55-2162-4ab9-bc06-7779be4ff826",
      "name": "Tag 41: Neil Patel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Neil Patel\";\nconst cat=\"marketing\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "0e3a326e-d9a1-4dca-9562-a1bcf8a4742f",
      "name": "RSS 42: Sales Hacker",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.saleshacker.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "4c20770d-51e7-48bf-9580-34394006b183",
      "name": "Tag 42: Sales Hacker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1820
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Sales Hacker\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "cc26babb-9953-43aa-a0dc-49f28b88cf56",
      "name": "RSS 43: Gong Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.gong.io/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "472a1fb5-b911-4f33-8b3d-ac977a779a71",
      "name": "Tag 43: Gong Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Gong\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "ba1b1c34-c338-4ce3-baa9-01e98b599433",
      "name": "RSS 44: Close CRM Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.close.com/rss/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "00e74bba-904c-421a-858e-d592ad023e8a",
      "name": "Tag 44: Close CRM Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Close CRM\";\nconst cat=\"sales\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "afe0d033-8e04-458d-bf4e-2d58cb3a41ee",
      "name": "RSS 45: Psychology Today",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.psychologytoday.com/intl/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "79ba4944-5dc2-4de7-a44b-bea644095b07",
      "name": "Tag 45: Psychology Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1960
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Psychology Today\";\nconst cat=\"psychology\";\nconst cw=0.2;\nconst mech=\"social_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "2b5a7a99-fb9c-43a2-9e84-c60ca564b20a",
      "name": "RSS 46: Behavioral Scientist",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://behavioralscientist.org/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "cf142a1a-b2b3-4b22-8452-ce1e627dfa17",
      "name": "Tag 46: Behavioral Scientist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Behavioral Scientist\";\nconst cat=\"psychology\";\nconst cw=0.3;\nconst mech=\"social_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "247b23ff-f0f1-4dea-9ef9-bf5f9b3642d2",
      "name": "RSS 47: Scientific American",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.scientificamerican.com/feed/category/the-sciences",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "b80e41c6-3303-4ed7-8985-631c7cd72a9b",
      "name": "Tag 47: Scientific American",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Scientific American\";\nconst cat=\"science\";\nconst cw=0.3;\nconst mech=\"research_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "4dceb785-e994-42ed-acbb-e153cc73d0db",
      "name": "RSS 48: Crunchbase News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://news.crunchbase.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "07f41505-c90c-4660-aa28-7ed9f3045f25",
      "name": "Tag 48: Crunchbase News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2100
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Crunchbase News\";\nconst cat=\"venture_capital\";\nconst cw=0.7;\nconst mech=\"funding_event\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "1c251494-a5b1-4f98-a067-dcd1c0497c0a",
      "name": "RSS 49: a16z Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://a16z.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "c949745e-6c8d-4836-acfb-7d7050a11abf",
      "name": "Tag 49: a16z Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"a16z\";\nconst cat=\"venture_capital\";\nconst cw=0.6;\nconst mech=\"funding_event\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "958c9752-c43a-4626-8eba-4686e70b6a4f",
      "name": "RSS 50: Y Combinator Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.ycombinator.com/blog/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "701f0770-2241-4445-ab76-e6efc628d60f",
      "name": "Tag 50: Y Combinator Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Y Combinator\";\nconst cat=\"startups\";\nconst cw=0.7;\nconst mech=\"startup_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "f7661e7b-fd42-44d7-9830-5b4bd0ffafa5",
      "name": "RSS 51: MIT Sloan Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://sloanreview.mit.edu/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "3e24dcbf-0918-471a-93bd-50c03a51ab52",
      "name": "Tag 51: MIT Sloan Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2240
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"MIT Sloan\";\nconst cat=\"management\";\nconst cw=0.3;\nconst mech=\"management_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "2d6861b2-af8f-45b3-8f74-89fa218812b8",
      "name": "RSS 52: McKinsey Insights",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.mckinsey.com/feeds/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f3b06dba-510f-421e-af30-69e420514118",
      "name": "Tag 52: McKinsey Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"McKinsey\";\nconst cat=\"management\";\nconst cw=0.4;\nconst mech=\"management_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "94064781-be07-4e5c-b7b3-ee75011a0f88",
      "name": "RSS 53: OPEC",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.opec.org/opec_web/en/pressroom.rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "7f89ff1e-d6de-44ce-869d-883a4171b501",
      "name": "Tag 53: OPEC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"OPEC\";\nconst cat=\"energy\";\nconst cw=0.8;\nconst mech=\"energy_supply_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "cd3d10ca-2933-4e7b-b495-1359926f8eb7",
      "name": "RSS 54: Responsible Investor",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.responsible-investor.com/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "1f0bd095-860d-40f5-9529-95d8c6b7c6a2",
      "name": "Tag 54: Responsible Investor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2380
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Responsible Investor\";\nconst cat=\"esg\";\nconst cw=0.4;\nconst mech=\"esg_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "d9914832-8240-4915-8b31-62572637b1bd",
      "name": "RSS 55: CoinTelegraph",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        340,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://cointelegraph.com/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "6011ea26-2e69-4e3e-bf22-6b250325b89f",
      "name": "Tag 55: CoinTelegraph",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"CoinTelegraph\";\nconst cat=\"crypto\";\nconst cw=0.5;\nconst mech=\"crypto_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "35bee060-a84e-4962-b0d1-52c827bfd6f0",
      "name": "RSS 56: Supply Chain Digital",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.supplychaindigital.com/rss",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "baa4047b-5df9-422f-a5ce-25219fb4c54b",
      "name": "Tag 56: Supply Chain Digital",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Supply Chain Digital\";\nconst cat=\"supply_chain\";\nconst cw=0.6;\nconst mech=\"supply_chain_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "1d927349-392a-40ec-8046-67b45adfbc01",
      "name": "RSS 57: Hootsuite Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        980,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://blog.hootsuite.com/feed/",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f2e35e72-ba04-4bd8-b185-a0120e710a46",
      "name": "Tag 57: Hootsuite Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2520
      ],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "const src=\"Hootsuite\";\nconst cat=\"marketing\";\nconst cw=0.2;\nconst mech=\"market_signal\";\nreturn $input.all().map(i => {\n  const base = (i.json && typeof i.json === 'object') ? i.json : {};\n  return {json:{...base,source:src,category:cat,causal_weight:cw,mechanism:mech}};\n});"
      }
    },
    {
      "id": "9a81ccbd-8081-4379-94a5-adc7f56bcb14",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1500,
        1330
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "15fb494e-2769-4355-acdb-0f762e5481e9",
      "name": "Normalize to Graph Entities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        1330
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst TYPE_MAP = {\n  world_news: 'political_event', geopolitics: 'political_event',\n  technology: 'technology', ai: 'technology', biotech: 'technology',\n  research: 'technology', science: 'technology',\n  startups: 'company', venture_capital: 'company', business: 'company',\n  marketing: 'company', sales: 'company', management: 'company',\n  economics: 'economic_event', hiring: 'economic_event', consumer: 'economic_event',\n  mergers_acquisitions: 'economic_event', esg: 'economic_event',\n  regulation: 'government_body', law: 'government_body',\n  cybersecurity: 'conflict_event',\n  energy: 'commodity_flow',\n  crypto: 'financial_instrument',\n  supply_chain: 'supply_chain',\n  psychology: 'social_movement',\n};\n\nfunction extractMentions(text) {\n  const matches = text.match(/\\b([A-Z][a-z]+(?: [A-Z][a-z]+){1,3})\\b/g) || [];\n  return [...new Set(matches)].slice(0, 4);\n}\n\nfor (const item of items) {\n  const a = item.json;\n  if (!a || !a.title || !a.source) continue;\n\n  const title = String(a.title).trim().substring(0, 200);\n  const category = a.category || 'world_news';\n  const source = a.source;\n  const url = a.link || a.url || '';\n  const published = a.pubDate || a.isoDate || new Date().toISOString();\n  const causal_weight = typeof a.causal_weight === 'number' ? a.causal_weight : 0.3;\n  const mechanism = a.mechanism || 'news_signal';\n\n  const description = String(a.content || a.contentSnippet || a.summary || '')\n    .replace(/<[^>]*>/g, '')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"')\n    .substring(0, 600);\n\n  const entityType = TYPE_MAP[category] || 'political_event';\n\n  const relationships = [{\n    targetName: source,\n    targetType: 'company',\n    targetProperties: { domain: 'media', category },\n    relation: 'cited_by',\n    confidence: 0.9,\n    causal_weight: 0.1,\n    mechanism: 'media_attribution'\n  }];\n\n  const mentions = extractMentions(title + ' ' + description.substring(0, 200));\n  for (const mention of mentions) {\n    relationships.push({\n      targetName: mention,\n      targetType: 'person',\n      relation: 'related_to',\n      confidence: 0.4,\n      causal_weight: causal_weight * 0.5,\n      mechanism\n    });\n  }\n\n  results.push({ json: {\n    name: title,\n    type: entityType,\n    properties: { url, description: description.substring(0, 500), category, published },\n    relationships,\n    source,\n    confidence: 0.7,\n    causal_weight,\n    mechanism\n  }});\n}\n\n// Always return at least one valid item \u2014 never return null as json value\nreturn results.length > 0 ? results : [{ json: { _empty: true, name: 'empty', type: 'political_event', source: 'system', properties: {}, relationships: [], confidence: 0, causal_weight: 0, mechanism: 'none' } }];"
      }
    },
    {
      "id": "2971a3cf-5b43-4e65-928c-4618aa74de6e",
      "name": "Batch 25 Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        1330
      ],
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && typeof i.json === 'object' && !i.json._empty);\nconst BATCH_SIZE = 25;\nconst batches = [];\nfor (let i = 0; i < items.length; i += BATCH_SIZE) {\n  batches.push({ json: { batch: items.slice(i, i + BATCH_SIZE).map(x => x.json) } });\n}\nreturn batches.length > 0 ? batches : [{ json: { batch: [] } }];"
      }
    },
    {
      "id": "6595a026-d180-4062-9320-b545f8d3d44a",
      "name": "POST Batch to Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1330
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://forage-graph-production.up.railway.app/ingest_raw_batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6da69224eb14e6bdb0fb63514b772480d23a4467f8ac8a4b15266a8262d7f959"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "8ca2fdc0-2683-4c3a-a6fe-2736e83b6a23",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        1330
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const d = item.json;\n  if (d && d.error) {\n    console.error('[Graph Batch Error]', JSON.stringify(d));\n  } else {\n    console.log('[Graph Batch OK] accepted=' + (d && d.accepted_count ? d.accepted_count : '?'));\n  }\n}\nreturn items;"
      }
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "RSS 1: BBC World News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 2: Reuters Top News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 3: The Guardian World",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 4: Sky News World",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 5: Foreign Policy",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 6: Foreign Affairs",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 7: TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 8: TechCrunch Startups",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 9: TechCrunch Funding",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 10: Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 11: Ars Technica",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 12: MIT Tech Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 13: VentureBeat",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 14: The Verge",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 15: Fortune",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 16: Economist Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 17: The Economist",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 18: Inc Magazine",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 19: Forbes Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 20: Business Insider Tech",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 21: BLS Price Indicators",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 22: BLS JOLTS",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 23: BLS CPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 24: Federal Reserve",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 25: ECB",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 26: Marginal Revolution",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 27: Project Syndicate",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 28: Federal Register",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 29: UK Legislation",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 30: EUR-Lex",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 31: DataBreaches.net",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 32: UpGuard Breaches",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 33: Cooley M&A",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 34: DealRoom",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 35: arXiv CS",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 36: arXiv Economics",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 37: arXiv ML",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 38: arXiv Biology",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 39: HubSpot Marketing",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 40: HubSpot Sales",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 41: Neil Patel",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 42: Sales Hacker",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 43: Gong Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 44: Close CRM Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 45: Psychology Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 46: Behavioral Scientist",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 47: Scientific American",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 48: Crunchbase News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 49: a16z Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 50: Y Combinator Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 51: MIT Sloan Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 52: McKinsey Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 53: OPEC",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 54: Responsible Investor",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 55: CoinTelegraph",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 56: Supply Chain Digital",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 57: Hootsuite Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 1: BBC World News": {
      "main": [
        [
          {
            "node": "Tag 1: BBC World News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 1: BBC World News": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 2: Reuters Top News": {
      "main": [
        [
          {
            "node": "Tag 2: Reuters Top News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 2: Reuters Top News": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 3: The Guardian World": {
      "main": [
        [
          {
            "node": "Tag 3: The Guardian World",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 3: The Guardian World": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 4: Sky News World": {
      "main": [
        [
          {
            "node": "Tag 4: Sky News World",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 4: Sky News World": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 5: Foreign Policy": {
      "main": [
        [
          {
            "node": "Tag 5: Foreign Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 5: Foreign Policy": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 6: Foreign Affairs": {
      "main": [
        [
          {
            "node": "Tag 6: Foreign Affairs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 6: Foreign Affairs": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 7: TechCrunch": {
      "main": [
        [
          {
            "node": "Tag 7: TechCrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 7: TechCrunch": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 8: TechCrunch Startups": {
      "main": [
        [
          {
            "node": "Tag 8: TechCrunch Startups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 8: TechCrunch Startups": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 9: TechCrunch Funding": {
      "main": [
        [
          {
            "node": "Tag 9: TechCrunch Funding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 9: TechCrunch Funding": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 10: Wired": {
      "main": [
        [
          {
            "node": "Tag 10: Wired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 10: Wired": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 11: Ars Technica": {
      "main": [
        [
          {
            "node": "Tag 11: Ars Technica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 11: Ars Technica": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 12: MIT Tech Review": {
      "main": [
        [
          {
            "node": "Tag 12: MIT Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 12: MIT Tech Review": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 13: VentureBeat": {
      "main": [
        [
          {
            "node": "Tag 13: VentureBeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 13: VentureBeat": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 14: The Verge": {
      "main": [
        [
          {
            "node": "Tag 14: The Verge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 14: The Verge": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 15: Fortune": {
      "main": [
        [
          {
            "node": "Tag 15: Fortune",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 15: Fortune": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 16: Economist Finance": {
      "main": [
        [
          {
            "node": "Tag 16: Economist Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 16: Economist Finance": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 17: The Economist": {
      "main": [
        [
          {
            "node": "Tag 17: The Economist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 17: The Economist": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 18: Inc Magazine": {
      "main": [
        [
          {
            "node": "Tag 18: Inc Magazine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 18: Inc Magazine": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 19: Forbes Business": {
      "main": [
        [
          {
            "node": "Tag 19: Forbes Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 19: Forbes Business": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 20: Business Insider Tech": {
      "main": [
        [
          {
            "node": "Tag 20: Business Insider Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 20: Business Insider Tech": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 21: BLS Price Indicators": {
      "main": [
        [
          {
            "node": "Tag 21: BLS Price Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 21: BLS Price Indicators": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 22: BLS JOLTS": {
      "main": [
        [
          {
            "node": "Tag 22: BLS JOLTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 22: BLS JOLTS": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 23: BLS CPI": {
      "main": [
        [
          {
            "node": "Tag 23: BLS CPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 23: BLS CPI": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 24: Federal Reserve": {
      "main": [
        [
          {
            "node": "Tag 24: Federal Reserve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 24: Federal Reserve": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 25: ECB": {
      "main": [
        [
          {
            "node": "Tag 25: ECB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 25: ECB": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 26: Marginal Revolution": {
      "main": [
        [
          {
            "node": "Tag 26: Marginal Revolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 26: Marginal Revolution": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 27: Project Syndicate": {
      "main": [
        [
          {
            "node": "Tag 27: Project Syndicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 27: Project Syndicate": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 28: Federal Register": {
      "main": [
        [
          {
            "node": "Tag 28: Federal Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 28: Federal Register": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 29: UK Legislation": {
      "main": [
        [
          {
            "node": "Tag 29: UK Legislation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 29: UK Legislation": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 30: EUR-Lex": {
      "main": [
        [
          {
            "node": "Tag 30: EUR-Lex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 30: EUR-Lex": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 31: DataBreaches.net": {
      "main": [
        [
          {
            "node": "Tag 31: DataBreaches.net",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 31: DataBreaches.net": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 32: UpGuard Breaches": {
      "main": [
        [
          {
            "node": "Tag 32: UpGuard Breaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 32: UpGuard Breaches": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 33: Cooley M&A": {
      "main": [
        [
          {
            "node": "Tag 33: Cooley M&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 33: Cooley M&A": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 34: DealRoom": {
      "main": [
        [
          {
            "node": "Tag 34: DealRoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 34: DealRoom": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 35: arXiv CS": {
      "main": [
        [
          {
            "node": "Tag 35: arXiv CS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 35: arXiv CS": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 36: arXiv Economics": {
      "main": [
        [
          {
            "node": "Tag 36: arXiv Economics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 36: arXiv Economics": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 37: arXiv ML": {
      "main": [
        [
          {
            "node": "Tag 37: arXiv ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 37: arXiv ML": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 38: arXiv Biology": {
      "main": [
        [
          {
            "node": "Tag 38: arXiv Biology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 38: arXiv Biology": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 39: HubSpot Marketing": {
      "main": [
        [
          {
            "node": "Tag 39: HubSpot Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 39: HubSpot Marketing": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 40: HubSpot Sales": {
      "main": [
        [
          {
            "node": "Tag 40: HubSpot Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 40: HubSpot Sales": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 41: Neil Patel": {
      "main": [
        [
          {
            "node": "Tag 41: Neil Patel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 41: Neil Patel": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 42: Sales Hacker": {
      "main": [
        [
          {
            "node": "Tag 42: Sales Hacker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 42: Sales Hacker": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 43: Gong Blog": {
      "main": [
        [
          {
            "node": "Tag 43: Gong Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 43: Gong Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 44: Close CRM Blog": {
      "main": [
        [
          {
            "node": "Tag 44: Close CRM Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 44: Close CRM Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 45: Psychology Today": {
      "main": [
        [
          {
            "node": "Tag 45: Psychology Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 45: Psychology Today": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 46: Behavioral Scientist": {
      "main": [
        [
          {
            "node": "Tag 46: Behavioral Scientist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 46: Behavioral Scientist": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 47: Scientific American": {
      "main": [
        [
          {
            "node": "Tag 47: Scientific American",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 47: Scientific American": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 48: Crunchbase News": {
      "main": [
        [
          {
            "node": "Tag 48: Crunchbase News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 48: Crunchbase News": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 49: a16z Blog": {
      "main": [
        [
          {
            "node": "Tag 49: a16z Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 49: a16z Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 50: Y Combinator Blog": {
      "main": [
        [
          {
            "node": "Tag 50: Y Combinator Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 50: Y Combinator Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 51: MIT Sloan Review": {
      "main": [
        [
          {
            "node": "Tag 51: MIT Sloan Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 51: MIT Sloan Review": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 52: McKinsey Insights": {
      "main": [
        [
          {
            "node": "Tag 52: McKinsey Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 52: McKinsey Insights": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 53: OPEC": {
      "main": [
        [
          {
            "node": "Tag 53: OPEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 53: OPEC": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 54: Responsible Investor": {
      "main": [
        [
          {
            "node": "Tag 54: Responsible Investor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 54: Responsible Investor": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 55: CoinTelegraph": {
      "main": [
        [
          {
            "node": "Tag 55: CoinTelegraph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 55: CoinTelegraph": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 56: Supply Chain Digital": {
      "main": [
        [
          {
            "node": "Tag 56: Supply Chain Digital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 56: Supply Chain Digital": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 57: Hootsuite Blog": {
      "main": [
        [
          {
            "node": "Tag 57: Hootsuite Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag 57: Hootsuite Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "Normalize to Graph Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize to Graph Entities": {
      "main": [
        [
          {
            "node": "Batch 25 Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch 25 Items": {
      "main": [
        [
          {
            "node": "POST Batch to Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Batch to Graph": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "938852dd-9da0-434e-a30a-cae62f14c5a0",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}